@import "_fonts.css";

:root {
  --color-error: #FF7979;
  --color-primary: #77E2B3;
  --color-accent: #5E54A4;
  --color-dark: #3D3B48;
  --color-dark-tint: #BAB7D4;
  --color-light: #FFFFFF;
  --color-light-shade: #DEDEDE;

  --text-sans: Poppins, Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

html {
  font-family: var(--text-sans);
}
